<div class="phx-hero">
  <p><%= handler_info(@conn) %></p>

  <h3>Keys for the conn Struct</h3>

  <%= for key <- connection_keys(@conn) do %>
    <%= render(CmsWeb.SharedView, "key.html", key: key)%>
  <% end %>
</div>

This is the message: <%= message() %>
